
@media screen and (max-width: 428px){
    .coitainer-map{
        min-height: 926px;
        max-width: 428px;
        position: relative;
        background-color: #000000;
    }

    .map-img{
        width: 27rem;
        height: 43rem;
        position: absolute;
    }

    .info-event-map{
        background-color: white;
        width:428px;
        height: 17.25rem;
        position:fixed;
        bottom: 0;
    }

    .infos-half-top{
        border: 2px solid purple;
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
    }

    .infos-half-bottom{
        border: 2px solid orange;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.8rem;
    }
}


