
@media screen and (min-width: 428px){
    .coitainer-map{
        max-width: 428px;
    }

    .map-img{
        width: 428px;
        height: 42rem;
    }

    .info-event-map{
        background-color: white;
        height: 17rem;
        border-radius: 2rem 2rem 0 0;
        position:fixed;
        bottom: 0;
    }

    .infos-half-top{
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
    }

    .infos-half-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.8rem;
    }
}


