
@media screen and (max-width: 428px){
    .coitainer-map{
        border: 2px solid green;
        min-height: 926px;
        max-width: 428px;
        position: relative;
    }

    .map-image{
        width: 27rem;
        height: 43rem;
        position: absolute;
    }

    .info-event-map{
        background-color: white;
        width:428px;
        height: 17.25rem;
        position:fixed;
        bottom: 0;
    }

    .infos-half-top{
        border: 2px solid blue;
        display: flex;
        align-items: center;
        height: 7.5rem;

    }



    .line-divisor{
        background: linear-gradient(#FF87A4, #B935E8);
        width: 428px;
        height: 0.1rem;
    }
}


