.coitainer-map{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.container-img{
    overflow:scroll;
    width:428px;
    height: 100%;
}

.map-img{
    width: 2000px;
    height: 2000px;
}

.group-zoom{
    position: fixed;
    top:80px;
    width: 428px;
}

.zoom-container{
    position: absolute;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.zoom-btn{
    width: 24px;
}
